{% extends "layout.html" %}

{% block content %}
<table class="table table-striped">
    {% for key_name in block.keys() %}
        <tr>
            <th>{{ key_name }}</th>
            <td>{{ block[key_name] }}</td>
        </tr>
    {% endfor %}
    {% if previousblockhash != None %}
        <tr>
            <th>previousblockhash</th>
            <td><a href="/block/{{ previousblockhash }}">{{ previousblockhash }}</a></td>
        </tr>
    {% endif %}
    {% if nextblockhash != None %}
        <tr>
            <th>nextblockhash</th>
            <td><a href="/block/{{ nextblockhash }}">{{ nextblockhash }}</a></td>
        </tr>
    {% endif %}
</table>

<h3>Transactions</h3>

<ul>
    {% for txid in txids %}
    <li><a href="/transaction/{{ txid }}">{{ txid }}</a></li>
    {% endfor %}
</ul>

{% endblock %}
