<!DOCTYPE html>
<html>
    <head>
        <title>{% if title %}{{ title }}{% else %}rpcblockchainexplorer{% endif %}</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css" />
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    </head>
    <body>
        {% include "header.html" %}

        <div class="content">
        {% block content %}{% endblock %}
        </div>

        {% include "footer.html" %}
    </body>
</html>
